In [1]:
import pandas as pd

In [8]:
df  = pd.read_excel("Existing_Emplyees.xlsx")

In [9]:
df.head()

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary
0,14211,0.50,0.73,4,180,3,0,0,IT,low
1,14210,0.33,0.65,3,172,10,0,1,marketing,high
2,14209,0.85,0.54,3,185,10,0,1,management,high
3,14208,0.74,0.95,5,266,10,0,1,management,high
4,14207,0.90,0.55,3,259,10,1,1,management,high