# Shortcuts

In [1]:
# Press B - insert cell down
# press D twice - delete a cell
# Esc - command mode
# command mode press F - Fins & Replace
# ctrl+enter - Run
# shift + enter - Run and Move to next cell
# command mode press m - cell into text
# ctrl+/ - comment out
# or you can use three sets of double quotes

In [2]:
1+2

3

This is my first program

# Variable Types, Prints & comments

In [3]:
x = 1

In [4]:
x

1

In [5]:
x = 's'

In [6]:
x

's'

In [7]:
x = 'Sachin'

In [8]:
x

'Sachin'

In [9]:
type(x)

str

In [10]:
x1 = 10

In [11]:
type(x1)

int

In [12]:
x2 = 2.4

In [13]:
type(x2)

float

In [14]:
x3 = False

In [15]:
type(x3)

bool

In [16]:
print("My GPA is:", x1)

My GPA is: 10

In [17]:
print("Point 1 \nPoint 2 \nPoint 3")

Point 1
Point 2
Point 3

In [18]:
# Virat
# Rohit
# Smith
# Root
# Williamson

In [19]:
"""I am Virat Kohli from India Right handed Batsmen"""
print("Virat Kohli")

Virat Kohli

# Data Types and Mathematical Operations

In [20]:
# variable Types
# Data Types
# Data Structures

In [21]:
x1 = 1
x2 = 234
x3 = 3

In [22]:
x4 = [x1, x2, x3]
x4

[1, 234, 3]

In [23]:
x5 = (x1, x2, x3)
x5

(1, 234, 3)

In [24]:
# Rohit, Gill, Pujara
# 66, 70, 34

In [25]:
runs_scored = {'Rohit':66, 'Gill':70, 'Pujara':34}
runs_scored

{'Rohit': 66, 'Gill': 70, 'Pujara': 34}

In [26]:
type(runs_scored)

dict

In [27]:
type(x5)

tuple

In [28]:
type(x4)

list

In [30]:
sum([1, 2, 3, 4, 5, 6, 7, 8])

36

In [31]:
sum(x5)

238

In [32]:
sum(x4)

238

In [33]:
2**5

32

In [35]:
5//4

1

In [36]:
5/4

1.25

In [37]:
5%4

1

In [38]:
ls = [22, 65, 89]

In [39]:
min(ls)

22

In [40]:
max(ls)

89

# Strings

In [43]:
player = "Rohit"

In [50]:
# R, Ro, hit

In [51]:
player[0]

'R'

In [52]:
player[0:2]

'Ro'

In [53]:
player[2:5]

'hit'

In [57]:
player2 = "Vrat Kohli"

In [60]:
player2 = player2.replace("V", "Vi")

In [61]:
player2

'Virat Kohli'

# if else statement

In [62]:
ticket_price = 100

In [64]:
if ticket_price<=100:
    print("I will go for Movie")
else:
    print("I won't")

I will go for Movie